<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <link href="/styles/main.css" rel="stylesheet" type="text/css">
        <title>Index Page</title>
    </head>
    <body>
    <!-- <div id="main" style="margin:100px;">
        <nav class="navbar navbar-inverse navbar-static-top">        
        <div class="container">
            <a class="navbar-brand" href="/">Hello World</a>
            <ul class="nav navbar-nav">
            <li class="active">
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/widget">Widget</a>
            </li>
            </ul>
        </div>
        </nav>
        <div class="jumbotron"  style="padding:40px;">
            <h1>Singh Test Page</h1>
            <p>Sample test page for LP widget testing</p>
            <p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    </div> -->
    <div id="main">
        <nav class="navbar navbar-inverse navbar-static-top">        
        <div class="container">
            <a class="navbar-brand" href="/">Hello World</a>
            <ul class="nav navbar-nav">
            <li class="active">
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/widget">Widget</a>
            </li>
            </ul>
        </div>
        </nav>
        <div class="jumbotron">
            <h1>Singh Test Page</h1>
            <p>Sample test page for LP widget testing</p>
            <p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    </div>
    </body>
</html>