body { 
    background-color: #D8D8D8;
    color: #444;
}

h1 {
    font-weight: bold;
    text-align: center;
}

header { 
    padding: 50px 10px; 
    color: #fff; 
    font-size :15px; 
    text-align:right;
}

#main {
    margin: 100px;
}

.jumbotron {
    padding:40px;
}